*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}


body {
    background-color: #292a2d;
}

.navbar {
    background-color: black;
    width: 100%;
    height: 70px;
    color: #235789;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    font-size: 20px;
    font-family: 'Josefin', sans-serif;
    }

.navbar a {
    color: #235789; 
    display: inline-block;
    position: relative;  
}

.navbar a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8DB9E2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar a:hover:after {
    color: #8DB9E2;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar a:hover {
    color: #7DAFDE;
}

.greetings {
    color: #D2DCE6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-top: 30px;
}

.content {
    color: #D2DCE6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}